---
layout: layouts/base.njk
eleventyComputed:
  title: "{{ contents.pages.top.name }}"
---

<div class="intro-block">
  <p class="intro">Introducing</p>
  <h1>{{ title }}</h1>
  <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur blanditiis sit aliquid fugiat? Ratione aspernatur tenetur praesentium quod, sint earum laudantium distinctio sunt sed, quos numquam. Deserunt vel quam aspernatur?</p>
</div>
