extends /layouts/base

block content
    main
        p 静寂とした冬の森を、雪童子は一人で歩いていた。足元に積もった新雪は靴の下でキュッと音を立て、彼の唯一の同伴者だった。
        p 視界を遮るほどの雪が舞い降りてきて、遠くの山々を白一色に染め上げていた。その風景は美しいだけでなく、孤独感と同時に深い静けさをもたらした。
        p 彼の目的地は、冷たく美しい氷の宮殿。その中には、とても大切なものが保管されていると、老いた村の長から聞かされていた。彼女のために、それを取り戻さなければならない。雪童子はそう思いながら、凍てついた風に顔をさらして前進を続けた。

        p
            //- Mixin の読み込み
            +base-button
