---
layout: layouts/base.njk
pagination:
  data: contents.spot
  size: 1
  alias: spot
permalink: "spots/{{ spot.index | slug }}/"
eleventyComputed:
  title: "{{ spot.name }}（{{ spot.city }}）"
---

<div class="spot-detail">
  <div class="inner">
    <div>
      <div class="image">
        <img src="https://picsum.photos/id/{{ spot.index * 4 }}/800/800" alt="">
      </div>
    </div>

    <div class="outline">
      <p class="kana">{{ spot.kana }}</p>
      <h1>{{ spot.name }}（{{ spot.city }}）</h1>
      <p class="description">{{ spot.description }}</p>

      <ul class="pagination">
        {%- if pagination.href.previous -%}
          <li>
            <a href="{{ pagination.href.previous }}">
              {{ pagination.page.previous.name }}</a></li>
        {%- endif -%}
        {%- if pagination.href.next -%}
          <li><a href="{{ pagination.href.next }}">{{ pagination.page.next.name }}</a></li>
        {%- endif -%}
      </ul>
    </div>
  </div>
</div>
