<header class="l-header">
  <div>
    <h1>
      <a href="/" class="text-black-800 inline-flex items-center gap-2.5 text-2xl font-bold md:text-3xl" aria-label="logo">
        <svg width="95" height="94" viewBox="0 0 95 94" class="h-auto w-6 text-indigo-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M96 0V47L48 94H0V47L48 0H96Z" />
        </svg>
        Flowrift
      </a>
    </h1>
    <nav>
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/about">私たちについて</a></li>
        <li><a href="/spots">スポット一覧</a></li>
      </ul>
    </nav>
    <div class="button">
      <a href="#">Sign Up</a>
    </div>
  </div>
</header>
