---
layout: layouts/base.njk
title: 私たちについて
---

<h1 class="page-title">{{ title }}</h1>

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
</div>

<button id="buttonAlert" class="btn-alert">アラート表示</button>

<p>電話番号：<span class="_js-tel">03-0000-0000</span></p>
