---
title: 11ty Example Site
---

<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
<head>
  <meta charset="{{ metadata.encoding }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script type="module">
    import "@styles/app.scss"
  </script>
</head>
<body>
  {# パーシャルの読み込み #}
  {% include "partials/header.njk" %}

  {{ content | safe }}

  {% include "partials/footer.njk" %}
</body>
</html>

