include /mixin/**/*

-
    const 

doctype html
html(lang=metadata.lang)
    head
        meta(charset=metadata.encoding)
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{ metadata.siteTitle }
    body
        //- Mixin を利用した SSI の読み込み
        //- Vite で SSI は利用できないので工夫が必要
        //- +ssi('header')

        main
            //- パーシャルの読み込み
            include /partials/navigation

            block content
